env.py


core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/



mongodb+srv://rooot:<password>@cluster0first.lhbw1.mongodb.net/myFirstDatabase?retryWrites=true&w=majority


python3 -m http.server

python3 -m http.server


  <ul class="collapsible #64b5f6 blue lighten-2">
    {% for book in books %}

      <li>
          <div class="collapsible-header"><i class="fas fa-book-open"></i>Name</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
          <div class="collapsible-header"><i class="fas fa-pen"></i>Description</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
          <div class="collapsible-header"><i class="fas fa-book"></i>Genre</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fas fa-bookmark"></i>Purchase link</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>




  {% for book in books %}
          {{ book.book_name }}<br>
          {{ book.book_description }}<br>
          {{ book.book_genre }}<br>
      {% endfor %}




<!-- <div class="card hoverable">

            <p class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ book.image_url }}" alt="Book Cover Image">
            </p>
            
            </div> -->

      
                <form action="action_page.php">
                    <div class="container">
                      <h6>Subscribe to our Newsletter</h6>
                      <p>Lorem ipsum..</p>
                    </div>
                  
                    <div class="container">
                      <input type="text" placeholder="Name" name="name" required>
                      <input type="text" placeholder="Email address" name="mail" required>
                      <label>
                        <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
                      </label>
                    </div>
                  
                    <div class="container">
                      <input type="submit" value="Subscribe">
                    </div>
                  </form>




<i class="fas fa-book-open"></i>

                  {% for book in books %}
      <li>
          <div class="collapsible-header">
              <i class="fas fa-book-open"></i>
              <strong>{{ book.book_name }}  {{ book_description }}</strong> 
          </div>
          <div class="collapsible-body">
            <p> {{ book.book_genre }} </p>

            <p> 
              <em> 
                {{ book.book_description }}
              </em>
            </p>
            <p>
              <em> 
                by : {{ book.created_by }}
              </em>
            </p>
          </div>
      </li>




      <input id="image_url" name="image_url" type="url" class="validate">
    <label for="image_url">Book Image URL (Optional)</label>


      <img class="activator" src="{{ books.image_url }}" alt="Book Cover Image">
           
         <strong>{{ book.book_name }} {{ book_description }}</strong>
      </div>
      <div class="collapsible-body">
        <p> {{ book.book_genre }} </p>
        <p>
          <em>
            {{ book.book_description }}
          </em>
        </p>
        <p>
          <em>
            by : {{ book.created_by }}
          </em>
        </p>






        <ul class="collapsible #64b5f6 blue lighten-2">
   {% for book in books %}

  
   <li class="center-align">
    <div class="collapsible-header">
       <div class="col s3">
         <a href="" class="btn-small green accent-4">Done</a>
         <a href="{{ url_for('edit_books', books_id=book._id)  }}" class="btn-small light-blue lighten-1">Edit</a>
       </div>
      <!-- <i class="fas fa-book-open"></i> -->
          
       <img class="activator" src="{{ books.image_url }}" alt="Book Cover Image">
         
       <strong>{{ book.book_name }} {{ book_description }}</strong>
    </div>
    <div class="collapsible-body">
      <p> 
        {{ book.book_genre }} 
      </p>
      <p>
        <em>
          {{ book.book_description }}
        </em>
      </p>
      <p>
        <em>
          by : {{ book.created_by }}
        </em>
      </p>
      


    </div>
  </li>


<div class="card center-align">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ book.image_url }}" alt="Book Cover Image">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Book Info</span>
      <p><a href="#">Purchase Link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ book.book_name }} {{ book_description }}</span>
      <p><em> {{ book.book_description }}</em></p>
      <p>
        <em>
          by : {{ book.created_by }}
        </em>
      </p>
      
    </div>
  </div>






  <!-- <ul class="collapsible #64b5f6 blue lighten-2"> -->
   {% for book in books %}

   <div class="card center-align" id="cards">
     <div class="card-image waves-effect waves-block waves-light">
       <!-- <img class="activator" src="{{ book.image_url }}" alt="Book Cover Image"> -->
     </div>
     <div class="card-content">
       <span class="card-title activator grey-text text-darken-4">Book Info</span>
       <p><a href="#">Purchase Link</a></p>
     </div>
     <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">{{ book.book_name }} {{ book_description }}</span>
       <p>
         <em> {{ book.book_description }}

         </em>
       </p>
       <p>
         <em>
           by : {{ book.created_by }}
         </em>
       </p>

     </div>
   </div>




   <!-- {% for books in books %}
                {% if books.books_id == book.books_name %}
                    <label value="{{ books.books_name }}" selected>{{ books.books_name }}</option>
                {% else %}
                    <label value="{{ books.books_name }}">{{ books.books_name }}<label>
                {% endif %}
            {% endfor %}  -->


            <h4 class="entry" id="entry1">Edit a book entry?</h4>
<!-- <h2> {{ books }} </h2> -->





<h4 class="entry" id="entry1"> All Book Reviews</h4>
{% for book in books %}
                
<div class="card medium">
  <div class="container">
    <!-- <img class="activator" src="{{ book.image_url }}" alt="Book Cover Image"> -->
  </div>






   <h3 class="light-blue-text text-darken-4 center-align">Manage Book Reviews</h3>

    <div class="row">
        {% for book in books %}
            <div class="col s12 m3">
                <div class="card light-blue darken-4 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ book.book_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn green accent-4">Edit</a>
                        <a href="#" class="btn light-blue lighten-1">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>




<h4 class="entry" id="entry1"> All Book Reviews</h4>
{% for book in books %}
                
<div class="card medium">
  <div class="container">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><strong>{{ book.book_name }} {{ book_description }}<i class="material-icons right"></i></strong></span>
        <div class="col s3">
          {% if session.user|lower == book.created_by|lower %}
              <a href="{{ url_for('delete_books', book_id=book._id) }}" class="btn-small green accent-4">Delete review</a>
              <a href="{{ url_for('edit_books', book_id=book._id) }}" class="btn-small light-blue lighten-1">Edit</a>
          {% endif %}
        </div>
    <p><a href="#">This is a link</a></p>
  </div>
  <div class="card-reveal col s9">
    <span class="card-title grey-text text-darken-4">{{ book.book_name }}<i class="material-icons right">close</i></span>
    <p>
      <em>
        {{ book.book_description }}
      </em>
    </p>
    <p>
      <em>
        {{ book.book_rating }}
      </em>
    </p>
    
    <p>
      <em>
        by : {{ book.created_by }}
      </em>
    </p>
  </div>
</div>






<header>
           <nav class="nav-extended text-shadow #64b5f6 blue lighten-2">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_books') }}" class="brand-logo" id="logo">Read & Refer!</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger left"><i class="fas fa-bars"></i></a>

                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_books') }}">Home</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_books') }}">Add Book Entry</a></li>
                         {% if session.user|lower == "admin"|lower %}
                        <li><a href="{{ url_for('get_bookreviews') }}">Manage Book Reviews</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}

                </ul>
            </div>
           </nav>

    
         <!-- mobile sidenav -->
           <ul class="sidenav" id="mobile-demo">
                    <li><h4 class="center-align text-darken-4" >Read & Refer!</h4></li>
                    <li><a href="{{ url_for('get_books') }}">Home</a></li>
                    <li><a href="">Contact Us</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_books') }}">Add Book Entry</a></li>
                        {% if session.user|lower == "admin"|lower %}
                        <li><a href="{{ url_for('get_bookreviews') }}">Manage Book Reviews</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
           </ul>
    </header>