/* footer styles */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .socials{
      display: inline-table;
      font-size: 15px;
  }

/* main styles */



.reg{
    color: #64b5f6;
}


.text-shadow{
    text-shadow:4px 4px  rgba(0,0,0,0);
}

.flashes h4{
    line-height: 2;
}


body{
    background-color: rgb(249, 255, 255);
}

