<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    {% block styles %}
    {% endblock %}

    <title>Read and Refer</title>
</head>

<body>
    <!-- background image -->
    <div class="parallax">
    <!-- project adapted from mini project -->
    <!-- Navbar adapted from materialize -->
    <header>
           <nav class="nav-extended text-shadow #64b5f6 blue lighten-2">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_books') }}" class="brand-logo" id="logo">Read & Refer!</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger left"><i class="fas fa-bars"></i></a>

                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_books') }}">Home</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_books') }}">Add Book Entry</a></li>
                         {% if session.user|lower == "admin"|lower %}
                        <li><a href="{{ url_for('get_bookreviews') }}">Manage Book Reviews</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}

                </ul>
            </div>
           </nav>

    
         <!-- mobile sidenav -->
           <ul class="sidenav" id="mobile-demo">
                    <li><h4 class="center-align text-darken-4" >Read & Refer!</h4></li>
                    <li><a href="{{ url_for('get_books') }}">Home</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_books') }}">Add Book Entry</a></li>
                        {% if session.user|lower == "admin"|lower %}
                        <li><a href="{{ url_for('get_bookreviews') }}">Manage Book Reviews</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
           </ul>
    </header>


    

<div class="row">
    <h2 class="entry" id="entry1">
        Welcome to Read & Refer!
    </h2>
    <br>
    <h4 class="entry" id="entry4">
        The site where you can Read our book reviews and decide if you want to share you're very own favourite
        stories!
    </h4>
    <br>
    <h3 class="entry" id="entry5">
        Feel free to look around and maybe add a review yourself if you like it, or if you have any questions why not
        contact us?
    </h3>
</div>


    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                    </div> 
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container.main">
        {% block content %}
        {% endblock %}
    </main>


    <div class="row"> 
           <h3  class="entry" id="entry6"> 
                Read & Refer is a simple book review site to share your stories,
                We want people to be able to share stories to eachother from all over the world!
           </h3>
           
            <h3 class="entry" id="entry2"> Like what you seen here and want more? Here are some of our sites we love to use!</h3>
              <ul class="entry" id="entry3">
                 <li class="links"> 
                     <a href="https://www.goodreads.com/" target="_blank">Good Reads </a>
                 </li>
                 <li class="links">
                      <a href="https://www.librarything.com/" target="_blank">Libary Thing </a>
                 </li>
                 <li class="links"> 
                     <a href="https://bookriot.com/" target="_blank">Book Riot </a>
                 </li>
              </ul>
    </div>

<!-- image end div -->
</div>

    <!-- footer content -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <footer class="page-footer #64b5f6 blue lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h4 class="white-text">Read & Refer!</h4>
                    <p class="grey-text text-lighten-4">
                       You can also contact us on the email Read-and-refer@gmail.com!
                    </p>
                </div>

                <div class="col l4 offset-l2 s12">
                    <h4 class="white-text tooltipped" data-position="bottom" data-tooltip="social links below">Socials</h4>
                    <ul class="socials">
                         
                        <li><span><a class="grey-text text-lighten-5" href="https://www.facebook.com/" target="_blank"> <i class="fab fa-facebook"> </i> </a></span></li>
                        <li><span> <a class="grey-text text-lighten-5" href="https://www.instagram.com/" target="_blank"> <i class="fab fa-instagram"> </i> </a></span></li>
                        <li><span> <a class="grey-text text-lighten-5" href="https://ie.linkedin.com/in/sean-mackey-4784641bb" target="_blank"> <i class="fab fa-linkedin-in"> </i></a></span></li>
                        <li><span><a class="grey-text text-lighten-5" href="https://twitter.com/?lang=en" target="_blank"> <i class="fab fa-twitter"> </i> </a></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright center-align">
            <div class="container">
                © 2021 Read & Refer!
                <a class="grey-text text-lighten-4 right" href="#!"></a>
                <p>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer">
                        <img style="border:0;width:88px;height:31px"
                            src="http://jigsaw.w3.org/css-validator/images/vcss"
                            alt="Valid CSS!" />
                    </a>
                </p>
                       
            </div>
        </div>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>

</html>