{% extends "base.html" %}
{%  block content %}

 

    
<h4 class="entry">All Book Reviews</h4>

      
  <ul class="collapsible #64b5f6 blue lighten-2">
    {% for book in books %}

      <li>
          <div class="collapsible-header">
              <i class="fas fa-book-open"></i>
              <strong>{{ book.book_name }}  {{ book_description }}</strong> 
          </div>
          <div class="collapsible-body">
            <p> {{ book.book_genre }} </p>
            <p> <em> {{ book.book_description }} </em></p>
            <p>
              <em> 
                by : {{ book.created_by }}
              </em>
            </p>
        </div>
      </li>
    {% endfor %}

{% endblock %}