{% extends "base.html" %}
{% block content %}


<h3 class="center-align reg" id="entry1">Contact Us</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" action=" {{ url_for('contact') }}" onsubmit="myFunction()">

        <div class="containerc">
            <div> 
                <div class="row">
                    <div class="col-25">
                        <label for="fname" class="contact1"> Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname" class="contact1">subject</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="subject" class="contact1">What's on your mind?</label>
                    </div>
                    <div class="col-75">
                        <input id="subject" name="subject" placeholder="Write something.." required>
                    </div>
                </div>
                <div class="row center-align">
                    <input type="submit">
                </div>
            </div>
        </div>

    </form>
</div>


{% endblock %}