{% extends "base.html" %}
{% block content %}


<h3 class="center-align reg" id="entry1">Log in</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix"></i>
                    <input id="username" name="username" type="text" class="validate" minlenghth="5" maxlength="20"
                     pattern="^[a-zA-Z0-9]{5,20}$" required>
                    <label for="username">Username:</label>
                </div>
            </div>
            <!-- passowrd -->
        
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlenghth="5" maxlength="20" 
                    pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                    <label for="password">Password:</label>
                </div>
            </div>
            <!-- login -->
            
            <div class="row">
                <button type="submit" class="col s12 btn-large #64b5f6 blue lighten-2">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row new1">
    <div class="col s12">
        <h4 class="center-align entry" id="entry1">
          First time here?
          <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">
              Create a Account
          </a>
        </h4>
    </div> 

</div> 


{% endblock %}